





.new-password-container {
    width: 100%;
    overflow: hidden;
    text-align: center;
}


.new-password-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    height: 310px;
}


.new-password-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}



.new-password-form-wrapper input {
    padding: 1em;
    width: 310px;
}

.new-password-form-wrapper button {
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background: black;
    color: white;
    cursor: pointer;
    padding: 0.9em;
    margin:0 auto;
    position: relative;
    top:30px;
}



.new-password-form-wrapper button:hover {
    background: green;
    color: whitesmoke;
}












/*-------------------For ToolTip & Eye Icon --------------------*/



.new-icon-password {
    display: flex; 
    position: relative;
    cursor: pointer;
    top:3px;
    left: 0px;

}


.new-tooltip {
    display: flex; 
    position: relative;
    cursor: pointer;
    top:20px;
    left: -30px;
    font-size: 0.5rem;
    text-align: center;
    color:white;
    background:black;
    padding: 0.3em;
}