



.fade-in {
    opacity: 0;
    animation: fadeInAnimation 3s ease-in forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}





.collection-container {
    width: 100%;
    overflow: hidden;
   

}




.collection-wrapper-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin:0 auto
}

.select select {
    background: whitesmoke;
    color:black;
    padding: 1em;
    text-align: center;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
}




.main-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 2000px;
    height: 1000px;
}



.CATEGORIES {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    margin: 0 auto;
    width: 30%;
    height: 100%;
    text-align: center;
    background:whitesmoke;
    border:1px solid black
}





.category-wrapper {
    display: flex;
    flex-direction: column;

}


.category-wrapper h3 {
    font-size: 0.8rem;
}

.category-wrapper label{
    font-size: 0.7rem;
}






.price-range-filter-wrapper {
    display: flex;
    flex-direction: column;
}



.price-range-filter-wrapper h3 {
    font-size: 0.8rem;
}

.price-range-filter-wrapper input {
    font-size: 0.3rem;
}


.price-range-filter-wrapper label {
    font-size: 0.6rem;
}


.price-range-filter-wrapper button {
    background:green;
    color:white;
    border:none;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}


.price-range-filter-wrapper button:hover {
    background:lightgreen
}






.brand-filter-wrapper {
    display: flex;
    flex-direction: column;
}


.brand-filter-wrapper h3 {
    font-size: 0.8rem;
}



.brand-filter-wrapper label {
    font-size: 0.8rem;

}



.size-filter-wrapper h3 {
    font-size: 0.8rem;

}


.size-filter-wrapper label {
    font-size: 0.8rem;
}






.discount-filter-wrapper h3 {
    font-size: 0.8rem;

}



.discount-filter-wrapper label {
    font-size: 0.8rem;
}



.categories-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    gap:99px;
    width: 70%;
    height: 100%;
}
 

.categories-section img {
    width:155px;
    object-fit: contain;
}


.category-price span {
    font-size: 0.8rem;
    font-family: 'Times New Roman', Times, serif;
}

.category-price  p {
    color:green;
}








.flex-wrapper {
    height: 150px;
   
}