





@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

.FeaturedDeals-Container {
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.FeaturedDeals-Container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

h3 {
    text-align: center;
}

.image-carousel-deal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scrollable Image Gallery */
.scroll-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #333;
}

/* Hide scrollbar but allow scrolling */
.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    display: inline-block;
    background-color: white;
    border-radius: 8px;
}