






.sidebar-cart{
    width: 30%;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background:whitesmoke;
    transition: right 0.3s ease-in-out;
    border: 1px solid black;
    
}


.sidebar-cart.open {
    right: 0;
    z-index: 1000;
}



.close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}



.sidebar-cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}




.sidebar-cart-top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1rem;
}





.sidebar-cart-top-section-three{
    flex-grow: 1;
}

.sidebar-cart-top-section-three img {
    width: 90px;
    object-fit: contain;
}




.sidebar-cart-size-section {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 100%;
    position: relative;
    top:0px;
    left: 55px;
}


.sidebar-cart-size-section p {
    font-size: 0.8rem;

}



.sidebar-size {
    position: relative;
    top:0px;
    left: 30px;
}

.sidebar-size span {
    font-size: 0.8rem;
}


.sidebar-remove-items {
    position: relative;
    top:0px;
    left: 90px;
}



.sidebar-remove-items p {
    font-size: 0.7rem;
    color:black;
    cursor: pointer;
    font-weight: bold;

}







.sidebar-cart-quantity-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:65px;
    position: relative;
    top:26px;
    left: -90px;
}



.sidebar-cart-quantity {
    display: flex;
    gap:3px;
    font-family: "Diamond", "Emerald", "Sapphire", "Ruby", "Pearl";
    font-size: 0.9rem;

}


.sidebar-cart-quantity button {
    font-size: 0.6rem;
    cursor: pointer;
}



.sidebar-cart-quantity button:hover {
    background:green;
    color:wheat
}

.sidebar-delivery-option {
    display: flex;
    position: relative;
    top:-31px;
    left: -134px;
}





.sidebar-cart-subtotal-cart {
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}





.sidebar-cart-terms {
    display: flex;
    align-items:center;
    justify-content: center;
    background:yellow

}


.sidebar-cart-terms  button{
    background: seagreen;
    border: none;
    outline: none;
    font-size: 0.8rem;
    color: whitesmoke;
    padding: 0.7em;
    cursor: pointer;
}