









.order-container {
    width: 100%;
    overflow: hidden;
}



.order-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin:0 auto;
    max-width: 1500px;
    padding: 3em;
}




.order-wrapper input {
    padding:0.3em;
    border-radius:10px;
   
}


.user-order-form {
    text-align: center;
}


.user-order-form button {
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    background: green;
    cursor: pointer;
    padding:0.5em;
    border-radius:10px;
    margin-top: 23px;
}








.right-section img {
    width: 90px;
    object-fit: contain;
}


.right-section p {
    color:black;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



.order-quantity {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    
} 











.middle-section {
    position: relative;
    top:-135px;
    left: -90px;
}













.pay-button {
    background: purple;
    border:1px solid black;
    color: whitesmoke;
    font-size: 1rem;
    font-family: "Oak", "Maple", "Pine", "Sycamore", "Willow";
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 20px 0;
}

.pay-button:hover {
    background: seagreen;
}

.pay-button:active {
    transform: scale(0.98);
}











.address-card {
    background-color:red;
    min-width: 280px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background: black;
    padding: 2rem;
    margin: 5% auto;
    width: 300px;
    border-radius: 10px;
  }





  .form-error-message {
    color: red;
    background: black;
    padding:0.1em;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
    animation: jiggle 0.4s ease-in-out infinite;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
  }
  
  /* Jiggle animation */
  @keyframes jiggle {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-2deg);
    }
    75% {
      transform: rotate(1deg);
    }
  }







  

  .google-pay-section {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top:0px;
    left: 75px;
 
  }