







.ForgotPassword-Container {
    width: 100%;
    overflow: hidden;
    margin-top: 110px;
}


.ForgotPassword-Wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
    margin:0 auto;
    height: auto;
    max-width: 410px;
    border-radius: 10px;
    padding: 0.7em;
    text-align: left;
}

.ForgotPassword-Wrapper h3 {
    font-size: 0.9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.forgot-radio-wrapper {
    display: flex;
    flex-direction: column;
    gap:10px
}


.email-forgot-passwrd-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    gap:30px

}


.email-forgot-passwrd-wrapper input {
    padding:1em;
    border:none;
    width: 310px;
    text-align: center;
    font-size: 1rem;
}


.email-forgot-passwrd-wrapper button {
    color:white;
    background:green;
    padding:1em;
    font-size: 1rem;
    border:none;
    outline: none;
    width: 310px;
    cursor: pointer;
}




.email-forgot-passwrd-wrapper button:hover {
    background:black;
    
}




.sms-forgot-passwrd-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    gap:30px

}





.sms-forgot-passwrd-wrapper input {
    padding:0.6em;
    border:none;
    width: auto;
    text-align: center;
    font-size: 1rem;
}


.sms-forgot-passwrd-wrapper button {
    color:white;
    background:blue;
    padding:1em;
    font-size: 1rem;
    border:none;
    outline: none;
    width: 310px;
    cursor: pointer;
}


.sms-forgot-passwrd-wrapper button:hover {
    background:black;

}




.phone-input-wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
}


.phone-input-wrapper select {
    background:black;
    color:white;
    font-family: "Diamond", "Emerald", "Sapphire", "Ruby", "Pearl";
    padding:0.8em;
    cursor: pointer;

}


.phone-input-wrapper select:hover {
    background:seagreen;
    color:white;
}